<header class="header">
  <nav>
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="/" class="navigation__item--link">
          <i class="navigation__item--icon ph-house"></i>
          <span>Pagina de start</span></a
        >
      </li>
      <li class="navigation__item">
        <a href="/scheduler" class="navigation__item--link">
          <i class="navigation__item--icon ph-clock"></i>
          <span>Organizator</span>
        </a>
      </li>
      <li class="navigation__item">
        <a href="/clients" class="navigation__item--link">
          <i class="navigation__item--icon ph-address-book"></i>
          <span>Clienți</span>
        </a>
      </li>
      <li class="navigation__item">
        <a href="/statistics" class="navigation__item--link">
          <i class="navigation__item--icon ph-chart-bar"></i>
          <span>Statistici</span>
        </a>
      </li>
      <li class="navigation__item">
        <a href="/statements" class="navigation__item--link">
          <i class="navigation__item--icon ph-book-open"></i>
          <span>Situatii clienti</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
<body></body>
