<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css" />

<main class="main">
  <div class="main__logo"><img src="/images/logo.jpg" /></div>
  <div class="main__links">
    <a href="/scheduler" class="main__link">
      <div class="container main__scheduler">ORGANIZATOR COMENZI</div>
    </a>

    <a href="/clients" class="main__link">
      <div class="container main__clients">CLIENTI</div>
    </a>

    <a href="/statistics" class="main__link">
      <div class="container main__statistics">STATISTICI</div>
    </a>

    <a href="/" class="main__link">
      <div class="container main__invoicing">FACTURARE</div>
    </a>

    <a href="/profile" class="main__link">
      <div class="container main__user">PROFIL UTILIZATOR</div>
    </a>
  </div>
</main>
